name: Test
permissions:
  contents: read
on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          fetch-depth: 0

      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568
        with:
          go-version: 1.19.x
          cache: true

      - name: setup node
        uses: actions/setup-node@v3

      - name: start firestore emulator
        run: |
          npm i -g firebase firebase-tools
          firebase setup:emulators:firestore
          firebase emulators:start --only firestore --project test &

      - name: test
        run: make test
        env:
          FIRESTORE_EMULATOR_HOST: localhost:8080
